@import '@/styles/colors.sass'

.websocket
    .container.mx-auto
        padding: 20px 0px

        .flex.flex-wrap
            .w-full
                .btn
                    margin-top: 10px
                    margin-right: 10px
                    padding: 5px 10px
                    border-radius: 2.5px

                    &.btnSendApple
                        border: 1px solid $color_pink
                        color: $color_pink
                        transition: 0.5s

                        &:hover
                            background-color: $color_pink
                            color: $color_white

                    &.btnSendStrawberry
                        border: 1px solid $color_purple
                        color: $color_purple
                        transition: 0.5s

                        &:hover
                            background-color: $color_purple
                            color: $color_white

                    &.btnSendCockroach
                        border: 1px solid $color_blue
                        color: $color_blue
                        transition: 0.5s

                        &:hover
                            background-color: $color_blue
                            color: $color_white
                
                p
                    padding: 10px 0px

                textarea
                    border: 1px solid darken($color_grey, 10%)
                    height: 30vh
                    padding: 10px
                    width: 100%