@import '@/styles/colors.sass'

.d_float_right
    float: right

    .navbar_link
        padding: 0px 30px
        font-size: 20px
        display: inline-block
        padding: 10px
        font-weight: 700
        text-decoration: none
        color: $color_black
        transition: color 0.5s

        &:hover
            color: $color_blue

    .navbar_link.active
        color: $color_blue
