@import '@/styles/colors.sass'
    
.logo
    a.link
        display: block
        padding: 10px
        text-decoration: none
        font-size: 20px
        font-weight: 700
        color: $color_blue
