@mixin size($w, $h: $w)
    width: $w
    height: $h

@mixin flexCenter()
    display: flex
    justify-content: center
    align-items: center
    
@mixin abCenter()
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
