@import '@/styles/colors.sass'

.item
    text-decoration: none
    color: $color_purple
    font-size: 16px
    font-weight: 700

@media screen and (max-width: 992px)
    .item
        font-size: 24px
        color: $color_white
