.home
    .container.mx-auto
        .flex.flex-wrap
            .w-full
                .card
                    height: 100vh
                    display: flex
                    justify-content: center
                    align-items: center