@import '@/styles/colors.sass'

.pdfReport
    .container.mx-auto
        .flex.flex-wrap
            .w-full
                display: flex
                justify-content: center
                align-items: center
                height: 100vh

                button
                    border: 1px solid $color_pink
                    color: $color_pink
                    padding: 10px 20px
                    transition: 0.5s

                    &:hover
                        background-color: $color_pink
                        color: $color_white